* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.user-img {
  width: 50px;
  border-radius: 100%;
  border: 2px solid #fff;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  background-color: #212321;
  color: #fff;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250%);
}
.sidebar.active {
  width: 250px;
}
